* {
  font-family: Microsoft JhengHei;
}


h1, h3 {
	text-align: center;
}

.darkLine{
	background-color: #6C6C6C;
	print-color-adjust: exact;
	-webkit-print-color-adjust: exact;
}

.lineInCore{
	border-bottom: 2pt #6C6C6C solid;
}

.subTitle{
	text-align: center;
}

.posBottom{
	text-align: center;
}

@media print{
	*{
		font-size: 10pt;
	}

	.noPrint{
		display: none;
	}

	td {
	line-height: 0.95;
	}

	.breakBefore {
		break-before: page;
	}

}

@page{
	size: A4;
}