* {
  font-family: Microsoft JhengHei;
}

input, select {
	font-size: 16px;
}

.fontSize20 {
	font-size: 20px;
}

.dataTable {
	border: #CCC solid 1px;
	padding-left: 30px;
	padding-bottom: 15px;
}

.dataTable p:not(.boxTitle) {
	margin: 0 auto;
}

.boxTitle {
	color: #333;
	display: block;
	line-height: 10px;
	font-size: 24px;
}

.buttonClass {
	height: 200px;
	width: 200px;
	font-size: 40px;
}

.PsychopathologyScale {
	border: 1px solid;
}

.PsychopathologyScale td {
	border: 1px solid #CCC;
	padding: 5px;
}

.null {
	background-color: #3C3C3C;
}

.BGfactorIntList li {
	list-style-type: square;
}

.BGfactorDefList li {
	list-style-type: square;
}

.ResultFrame {
	border: solid 1px
}


.BackGround_color1 {
	background-color: #E0E0E0;
}

