* {
  font-family: Microsoft JhengHei;
}

input, select {
	font-size: 16px;
}


.dataTable {
	border: #CCCFFF solid 1px;
	padding-left: 30px;
	padding-bottom: 15px;
}

.dataTable p:not(.boxTitle) {
	margin: 0 auto;
}

.dataTable th, .dataTable td {
	border: 1px solid #CCC;
	padding: 5px;
}



.boxTitle {
	color: #333;
	display: block;
	line-height: 10px;
	font-size: 24px;
}

.CASI_Table{
	border: 0px;
}


.buttonClass {
	height: 200px;
	width: 200px;
	font-size: 40px;
}



.nakeTable {
	padding-left: 30px;
}

.nakeTable th, .nakeTable td{
	padding: 2px;
	text-align: center;
}


[data-label="items"] {
	background-color: #FFE4CA;
	text-align: center;
}

[data-label="SubScale"] {
	background-color: #FFD1A4;
	text-align: center;
}


.split_row {
	border: 1px solid #CCC;
}

.null {
	background-color: #3C3C3C;
}