* {
  font-family: Microsoft JhengHei;
}

.noCenter {
	text-align: left;
}

h1, h3, .CenterSec {
	text-align: center;
}


input, select {
	font-size: 16px;
}

table {
	border: 1px solid;
}

th, td {
	border: 1px solid #CCC;
	padding: 5px;
}


.dataTable {
	border: #CCC solid 0px;
	padding: 30px;
	margin: auto;
}

.describeText {
	border: #CCC solid 1px;
	padding: 30px;
	margin: auto;
}

.describeText p:not(.boxTitle) {
	margin: 0 auto;
}

.boxTitle {
	color: #333;
	display: block;
	line-height: 10px;
	font-size: 24px;
}


.greyBack {
	background-color: #F0F0F0;
}

.whiteBlack {
	background-color: #5B5B5B;
	color: #fff;
}



.floatDiv {
	display: flex;
	align-items: self-start;
}


.divTry {
	float: left;
	flex: 1;
	border: #CCC solid 1px;
}


.panel-control {
	position:absolute;
	opacity:0;
}
.tab-group label {
	display:inline-block;
	padding: 10px 30px;
	border:1px solid #ccc;
	border-bottom:none;
	background-color: #D0D0D0;
	bottom:-1px;
	position:relative;
}
.content-group {
	border:1px solid #ccc;
	padding: 20px;
}
.content{display:none;}


#radio1:checked ~ .tab-group [for="radio1"],
#radio2:checked ~ .tab-group [for="radio2"],
#radio3:checked ~ .tab-group [for="radio3"] {background-color: #fff;}

#radio1:checked ~ .content-group .content1,
#radio2:checked ~ .content-group .content2,
#radio3:checked ~ .content-group .content3 {display:block}








.radio, .checkbox{
	font-size: 11px;
}


.radio input[type="radio"] {display: none; }
.checkbox input[type="checkbox"] {display: none; }

.radio input:checked + .button {background: #5B5B5B; color: #fff;}
.radio input:checked + .button2 {background: #5B5B5B; color: #fff;}
.checkbox input:checked + .FQText {background: #5B5B5B; color: #fff;}

.radio .button {display: inline-block; padding: 2px; padding-top: 4px; padding-bottom: 4px; background: #f7f7f7; color: #333; width: 15%; text-align: center}
.radio .button2 {display: inline-block; padding: 2px; padding-top: 4px; padding-bottom: 4px; background: #f7f7f7; color: #333; width: 8.8%; text-align: center}
.checkbox .FQText {display: inline-block; padding: 2px; padding-top: 4px; padding-bottom: 4px; background: #f7f7f7; color: #333; width: 7.5%; text-align: center}
.checkbox .button {display: inline-block; padding: 2px; padding-top: 4px; padding-bottom: 4px; background: #f7f7f7; color: #333; width: 15%; text-align: center}

