* {
  font-family: Microsoft JhengHei;
  text-align: center;
}


td {
	border: 1px solid #CCC;
	font-size: 2vw;
	padding: 5px;
}

h1 {
	font-size: 2.5vw;
}

h3 {
	font-size: 2vw;
}


.radio {
	font-size: 2vw;
}

.radio input[type="radio"] {display: none;}
.radio input:checked + .choose {background: #5B5B5B; color: #fff;}
.radio .itemTitle {display: inline-block; padding: 2px; padding-left: 8px; padding-top: 4px; padding-bottom: 4px; background: #fff; color: #333; width: 70%; text-align: left;}
.radio .choose {display: inline-block; padding: 2px; padding-top: 4px; padding-bottom: 4px; background: #f7f7f7; color: #333; width: 12%; text-align: center;}



.radio2 {
	font-size: 2vw;
}

.radio2 input[type="radio"] {display: none;}
.radio2 input:checked + .choose {background: #5B5B5B; color: #fff;}
.radio2 .itemTitle {display: inline-block; padding: 2px; padding-left: 8px; padding-top: 4px; padding-bottom: 4px; background: #fff; color: #333; width: 70%; text-align: left;}
.radio2 .choose {display: inline-block; padding: 2px; padding-top: 4px; padding-bottom: 4px; background: #f7f7f7; color: #333; width: 4%; text-align: center;}


.myBtn input[type="button"] {border: none; background-color: rgba(255,255,255,0.7); font-size: 2vw}
.myBtn input[type="button"]:hover {background: #5B5B5B; color: #fff;}



.fontSize20 {
	font-size: 2vw;
}

.fontSize14 {
	font-size: 1.4vw;
}

.CentAlig {
	width: 80%;
	margin: 0 auto;
}


.BG2 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -99;
}

.BG_pic {
  width: 100%;
  min-height: 100%;
  min-width: 900px;
  opacity: 0.3;
}

.WhiteBack1{
	padding: 10px;
	background-color: rgba(255,255,255,0.5);
}

.WhiteBlack {
	background-color: black;
	color: #fff;
}







@media print{
	*{
		-webkit-print-color-adjust: exact;
	}


	h1{
		font-size: 15pt;
	}

	h3{
		font-size: 12pt;
	}


	.doPrint{
		display: block;
	}


	.dataTable {
		border: #CCC solid 0px;
	}

	.noPrint{
		display: none;
	}
}

@page{
	size: A4;
	margin: 0;
}


